

body {
    background-color: #140310;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 20px;
    background-color: #420f9a;
}

.custom-card {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #9579c6;
}

.custom-card:hover {
    transform: scale(1.05);
}

.card-image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

.title {
    color: #673ab7;
}

.content {
    color: #555;
}


